html, body {
  zoom: 120%;
}


main {
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
}

@media (min-width: 500px) {
  main {
    max-width: 100%px;
  }
}

label {
  padding-top: 0.5em;
  display: block;
}
